<div class="header-container">
        <div class="menu">
          <div class="menu-content track-order">Track Order</div>
          <div class="menu-content location">Location</div>
          <div class="menu-content login">Login</div>          
        </div>
        <div class="sub-menu" id="myHeader">
            <div class="logo menu-content">
              <img src="./assets/images/dummy-icon.jpg" height= "63px" width= "90px">
            </div>
            <div class="menu-content search-input">
                <input type="text" placeholder="search..." class="search-text">
                <button class="search-button">Search</button>
            </div>
            <div class="menu-top-margin">
                <div class="home"><span>Home</span></div>
                <div class="products">
                    <span>Products</span>
                    <div class="products-wrapper">
                        <ul>
                            <li>Men</li>
                            <li>Jeans</li>
                            <li>Tees</li>
                            <li>Shirts</li>
                            <li>Jackets</li>
                            <li>Sweaters</li>
                            <li>Sweatshirts</li>
                        </ul>
                        <ul>
                            <li>Women</li>                                
                            <li>Jeans</li>
                            <li>Tees</li>
                            <li>Shirts</li>
                            <li>Jackets</li>
                            <li>Sweaters</li>
                            <li>Sweatshirts</li>
                        </ul>
                        <ul>
                            <li>Kids</li>                                
                            <li>Jeans</li>
                            <li>Tees</li>
                            <li>Shirts</li>
                            <li>Jackets</li>
                            <li>Sweaters</li>
                            <li>Sweatshirts</li>
                        </ul>
                    </div>   
                </div>
                <div class="customers">
                    <span>Customer Service</span>
                </div> 
                <div class="our-story">
                    <span>Our Story</span>
                    <div class="our-story-desc">
                        <div class="title">Our Success Story</div>
                        <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </div>
                    </div>
                </div>  
                <div class="cart">
                    <img src="./assets/images/cart.png" height= "30px" width= "30px">                    
                    <span>0</span>
                </div>
            </div>   
        </div>
</div> 
   