<div class="header-container">
        <div class="menu">
          <div class="menu-content track-order">Track Order</div>
          <div class="menu-content location">Location</div>
          <div class="menu-content login">Login</div>          
        </div>
        <div class="sub-menu" id="myHeader">
            <div class="logo menu-content">
              <img src="./assets/images/dummy-icon.jpg" height= "63px" width= "90px">
            </div>
            <div class="menu-content search-input">
                <input type="text" placeholder="search..." class="search-text">
                <button class="search-button">Search</button>
            </div>
            <div class="menu-top-margin">
                <div class="home">Home</div>
                <div class="products">Products</div>
                <div class="customers">Customer Service</div> 
                <div class="our-story">Our Story</div>  
                <div class="cart">
                    <img src="./assets/images/cart.png" height= "30px" width= "30px">                    
                 <span> 0</span>
                </div>
            </div>           
        </div>
</div> 
   