<div class="footer-style">
    <div>
        <ul class="verticle-align">
            <li class="li-text-style  li-footer-color margin-style">&copy;<b>W</b>e<b>S</b>erve</li>
        </ul>
    </div>
    <div class="div-footer-social-media-margin float-right">
        <ul class="verticle-align">
            <li class="li-text-style"><img src="../../assets/images/facebook.png"></li>
            <li class="li-text-style  margin-style"><img src="../../assets/images/google_plus.png"></li>
            <li class="li-text-style  margin-style"><img src="../../assets/images/youtube.png"></li>
        </ul>
    </div>
    </div>
