<div class="login">
  <div class="login-style"><span class="font-style font-form-txt-size"><b>W</b>e<b>S</b>erve</span>
    <!-- <div class="alert alert-danger" *ngIf="flag">
     {{msg}}
    </div> -->
    <form class="login-form-margin" #f1="ngForm" autocomplete="off" (ngSubmit)="onClick()">
      <div class="txt-box-align">
     <div>
       <span class="login-form-msg" *ngIf="flag">{{msg}} </span>
       <div class="col-md-1 col-sm-1 col-xs-1"> <span class="login-userId-img"></span></div>
     <div class="col-md-11 col-sm-11 col-xs-11"> <input type="text" (keyup)="countdigit()" class="form-control textbox-height" required id="email" [(ngModel)]="loginObject.name" placeholder="Enter email"
        name="email"></div>
      </div>
      <div>
          <div class="col-md-1 col-sm-1 col-xs-1">  <span class="login-password-img"></span></div>
          <div class="col-md-11 col-sm-11 col-xs-11"> <input type="password" class="form-control textbox-height" required id="pwd" [(ngModel)]="loginObject.password" placeholder="Enter password"
        name="pswd"></div>
      </div>
      <div class="submitbtn-align"><button type="submit" [disabled]="!f1.valid" class="btn submit-btn">Submit</button></div>
    </div>
    </form>
  </div>
</div>  

<input type="text" maxlength="100"  >
>
<!-- <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
</div> -->