<div class="product-form-wrapper">
  <div class="header"><span>Products</span></div>
  <form class="form-horizontal" #f="ngForm" (ngSubmit)="submitUpdateForm()">
    <div class="products">
       <div class="praduct-label"><label class="control-label" for="category">Category:</label></div>
        <select name="productList" [(ngModel)]="ItemObj.category" required>
          <option *ngFor="let list of productsArray; let i=index"  [value]="list.category">{{list.category}}</option>
        </select>
    </div>
    <div class="products">
        <div class="praduct-label"><label class="control-label" for="item">Item:</label></div>    
        <input type="text" class="" id="item" placeholder="Enter item" name="item" [(ngModel)]="ItemObj.item" required>
    </div>
    <div class="">        
      <div class="button">
        <button type="submit" class="btn btn-default" [disabled]="f.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>
<!-- Product table wrapper -->
 <div class="product-content-wrapper">
    <div class="header"><span>Items</span></div>
    <div class="product-list">
      <ul *ngFor="let list of productsArray; let i=index" class="items-container">
        <li>{{list.category}}</li>
        <li *ngFor="let obj of list.type; let j=index"><span class="item">{{obj}}</span>
          <button (click)="updateBlock(i, j, 'Edit')">Edit</button>
          <button (click)="updateBlock(i, j,'Delete')">Delete</button>
        </li>
    </ul>
    </div>
    
 </div>