
.product-content-wrapper{
    // margin: 0;
    // width: 100%;
    margin: 0 auto;
    width: 95%;
    background-color: #dcdada;
    .header
    {
        padding: 10px;
        background-color: grey;
        position: relative;
        span{
            font-size: 15px;
            color: white;
            text-transform: uppercase;
            background-color: #100202;
            font-weight: 600;
            display: inline-block;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .product-list{
        // width: 90%;
        // margin: 0 auto;
        .items-container{
            margin: 10px;
            padding: 10px;
            list-style: none;
            width: 28.3%;
            background-color: #8fb2bc;
            // display: inline-block;
            display: inline-grid;
           li{
            &:first-child{
                font-weight: 600;
            }
            .item{
                width: 50%;
                display: inline-block;
            }
            button{
                padding: 5px 10px;
            }
           }
        }
    }
}
