@import "~assets/stylesheet/variables.scss";

.filter{
    position: relative;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #cacaca;
    @media (max-width:425px){
        font-size: 20px;  
        padding: 3px;                  
    }
    .filter-text{
        text-transform: uppercase;
        font-weight: 600;
    }
    .apply{
        position: absolute;
        display: block;
        left: 90px;
        @media (max-width:425px){
            left: 66px;
        }
    }
    .clear-all{
          display: block;
    }
    .apply, .clear-all {
        button{
            background-color: $blue-color;
            color: white;
            border: none;
            padding: 5px 10px;
            @media (max-width:425px){
                padding: 2px 5px;
            }
        }
    }
} 
.selection-list-container{
    ul{
        list-style: none;
        border-bottom: 1px solid #cacaca;
        margin: 0;
        position: relative;
        padding: 0;
        @media (max-width:320px){
            padding: 10px 5px;
        }
       .filter-title
       {
            text-transform: uppercase;
            color: #c10912;
            font-weight: 600;
            display: block;
            padding: 15px;
            cursor: pointer;
            @media (max-width:320px){
                font-size: 13px;
            }
        }
        .down-arrow{
            position: absolute;
            right: 18px;
            font-size: 25px;
            top: 0;
            cursor: pointer;
        }
        .list-container{
            padding: 0 0 15px 15px;
            li{
                padding: 5px 0;
                .container{
                    position: relative;
                    .styled-checkbox {
                       // position: absolute; // take it out of document flow
                        opacity: 0; // hide it
                        position: absolute;
                        & + label {
                          cursor: pointer;
                          padding: 0;
                          @media(max-width:425px){
                            font-size: 12px;
                          }
                        }                        
                        // Box.
                        & + label:before {
                          content: '';
                          display: inline-block;
                          vertical-align: text-top;
                          width: 20px;
                          height: 20px;
                          background: #cecece;
                        }
                      
                        // Box hover
                        &:hover + label:before {
                          background: #c10912;
                        }
                        
                        // Box focus
                        &:focus + label:before {
                          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                        }
                      
                        // Box checked
                        &:checked + label:before {
                          background: #c10912;
                        }
                         // Checkmark. Could be replaced with an image
                        &:checked + label:after {
                            content: '';
                            position: absolute;
                            left: 5px;
                            top: 9px;
                            background: white;
                            width: 2px;
                            height: 2px;
                            box-shadow: 
                            2px 0 0 white,
                            4px 0 0 white,
                            4px -2px 0 white,
                            4px -4px 0 white,
                            4px -6px 0 white,
                            4px -8px 0 white;
                            transform: rotate(45deg);
                        }
                    }
                    .styled-radio{
                             opacity: 0; // hide it
                             position: absolute;
                             & + label {
                               cursor: pointer;
                               padding: 0;
                               @media(max-width:425px){
                                font-size: 12px;
                              }
                             }                        
                             // Box.
                             & + label:before {
                               content: '';
                               display: inline-block;
                               vertical-align: text-top;
                               width: 20px;
                               height: 20px;
                               border-radius: 50%;
                               background: #cecece;
                             }
                           
                             // Box hover
                             &:hover + label:before {
                               background: #c10912;
                             }
                             
                             // Box focus
                             &:focus + label:before {
                               box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                             }
                           
                             // Box checked
                             &:checked + label:before {
                               background: #c10912;
                             }
                              // Checkmark. Could be replaced with an image
                             &:checked + label:after {
                                 content: '';
                                 position: absolute;
                                 left: 5px;
                                 top: 5px;
                                 background: white;
                                 width: 10px;
                                 height: 10px;
                                 border-radius: 50%;
                             }                          
                    }
                }
            }
        }
       
    } 
}
.selection-list-container:last-child{
    ul{
        border-bottom:none;
    }
}