<div class="">
    <div class="container-fluid">
        <div class="row header-style">
            <div class="col-lg-4">
                <h1 class="header-h1 logo">Dashboard</h1>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="input-group form search">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                            <button class="btn btn-primary search-btn-color" type="button">Search</button>
                          </span>
                </div>
            </div>

        </div>
    </div>
</div>