<div class="display-product-wrapper">
  <app-header></app-header>
  <div class="notification">
    <div class="title">End OF Season Sale</div>
    <div class="sell-desc">EXTRA 25% OFF SALE STYLES WITH CODE HOL25</div>
    <div class="sale-type">
      <span>Sale for MEN</span>
      <span>Sale for WOMEN</span>
      <span>Sale for KID</span>
    </div>
  </div>
  <div class="product-list">
    <div class="left-div">
      <div class="filter">
        <span class="filter-text">Filter</span>
        <span class="apply"><button>Apply</button></span>
        <span class="clear-all"><button>Clear All</button></span>
      </div>
      <div class="selection-list-container" *ngFor="let list of filterArray">
        <ul>
          <span class="filter-title">{{list.title}}</span>
            <span class="down-arrow" [hidden]="list.showList" (click)="toggleFun(list)">
               <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
            <span class="down-arrow" [hidden]="!list.showList" (click)="toggleFun(list)">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
           </span>
          <div [hidden]="!list.showList">
            <li *ngFor="let obj of list.content; let i=index">
                <span *ngIf="list.type=='price'"><!-- && i<(list.content.length-1)"-->
                    <div class="container">
                    <input type="radio" class="styled-radio" id="radio1" name="radio1">
                    <label>&nbsp;{{list.content[i]}}</label>
                    </div>
                </span>
                <span *ngIf="list.type=='customerRatings'">
                  <div class="container">
                    <input type="checkbox" class="styled-checkbox">                   
                   <label>&nbsp;{{obj}}&nbsp;<span class="fa fa-star"></span>&nbsp; & Above</label>
                  </div>
                </span>
                <span *ngIf="list.type=='color'">
                  <div  class="container">
                    <input type="checkbox" class="styled-checkbox">
                    <label> &nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true" [ngStyle]="{'color': obj}"></i>&nbsp;{{obj}}</label>
                  </div>
                </span>
                <span *ngIf="!(list.type=='price' || list.type=='customerRatings'|| list.type=='color')">
                    <div  class="container">
                      <input type="checkbox"  class="styled-checkbox"><label>&nbsp;&nbsp;{{obj}}</label>
                    </div>
                </span>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="right-div">
      <div class="right-div-header">
        <div class="items-count">12 Items of 144 Items</div>
        <div class="sort">
          <div class="sort-by">{{selectSortingType}}
            <span class="arrow" *ngIf="!toggleBox" (click)="toggleSelectBox()"> <i class="fa fa-angle-down" aria-hidden="true"></i></span>
            <span class="arrow" *ngIf="toggleBox" (click)="toggleSelectBox()"> <i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </div>
          <ul class="select-box" *ngIf="toggleBox">
              <li class="items" *ngFor="let obj of sortByArray" (click)="selectedItem(obj)">{{obj}}</li>
          </ul>
        </div>
      </div>
      <ng-container *ngIf="showArray.length>0">
      <div *ngFor="let list of showArray; let i= index" class="show-collections">
        <div class="container" (click)="chooseProductFunc(list)">
          <img src={{list.link}}  class="image">
          <div class="buy-now">
            <div class="brand">{{list.brand}}</div>
            <div class="jeans-title">{{list.title}}</div><!-- data-toggle="tooltip" title="Hooray!" 18-->
            <div class="price-container">
              <span class="price">&#8377;{{list.price}}</span>
              <span class="original-price">{{list.originalPrice}}</span>
              <span class="offer">{{list.offer}} &nbsp;<span>off</span></span></div>
          </div>
        </div>   
      </div>
      </ng-container>
<ng-container *ngIf="pagerObj.totalPages>0">
    <pagination-component [data]="pagerObj" (PageNo)="paginateArray($event)"></pagination-component>
</ng-container>
    </div>
  </div>
  <app-footer></app-footer>
</div>