@import "~assets/stylesheet/variables.scss";

.display-product-wrapper
{
    font-family: calibri;
    width: 100%;  
   
    .product-list{
        display:flex;
        width:100%;
        .left-div
        {
            width:25%;
            box-shadow: 4px 3px 8px -1px #8C8C8C;
            overflow-y: scroll;
            height: 554px;
            @media (max-width:425px){
                width: 35%;
            }      
        }    
        .right-div
        {
            width:75%;
            margin-top: 30px;
            @media (max-width:425px){
                width: 65%;
            }
            .right-div-header{
                width: 95%;
                position: relative;
                margin: 0 auto;
                padding: 15px 0;
                .items-count{
                    position: absolute;
                    left: 0;
                    font-weight: 600;
                    font-size: 21px;
                    bottom: 1px;
                    @media (max-width:425px){
                        top: 0;
                    }
                }
                .sort{
                    position: absolute;
                    right: 0;
                    bottom: 1px;
                    top: 10px;
                    @media (max-width:425px){
                        position: relative;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        margin: 15px 19px;
                        display: block;
                    }
                    .select-box{
                        padding: 10px;
                        list-style: none;
                        background-color: white;
                        -moz-box-shadow: 0 0 5px #888;
                        -webkit-box-shadow: 0 0 5px#888;
                        box-shadow: 0 0 5px #888;
                        margin: 0;
                        @media (max-width:425px){
                            position: absolute;
                            padding: 0 16px;
                        }
                        
                        .items{
                            padding: 5px;
                            cursor: pointer;
                        }
                    }
                    .sort-by{
                        border: 1px solid black;
                        padding: 5px;
                        position: relative;
                        width: 150px;
                        .arrow{
                            position: absolute;
                            right: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .show-collections{
                display: inline-block;
                .container{
                    cursor: pointer;                    
                    margin: 10px;
                    @media (max-width:425px){
                        margin: 2px 5px;
                    }
                    @media (max-width:320px){
                        margin: 5px 3px;
                    }
                    @media (max-width:375px){
                        margin:2px 0;
                    }
                    .image{
                        height: 315px;
                        width: 260px;
                        @media(max-width:768px){
                            height: 275px;
                            width: 250px;
                        }
                        @media(max-width:425px){
                            height: 134px;
                            width: 120px;
                        }
                        @media(max-width:320px){
                            height: 110px;
                            width: 93px;
                        }
                    }
                    .buy-now{
                        margin: 0 auto;
                        width: 50%;
                        @media (max-width:425px){
                            margin: 0 5px;
                            width: auto;
                            font-size: 10px;
                        }
                        @media (max-width:320px){
                            margin: 0 4px;
                            width: auto;
                            font-size: 10px;
                        }
                        .brand{
                            color: #9a9494;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        .jeans-title{
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .price-container{
                            .price{
                                font-weight: 600;
                            }
                            .original-price{
                                color: #b3afaf;
                                text-decoration: line-through;
                            }
                            .offer{
                                color: green;
                            }
                        }
                    }
                }
              &:hover{
                box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
              }
            }
        }
    }
}
