<div class="display-product-wrapper">
  <app-header></app-header>
  <app-notification></app-notification>
  <div class="product-list">
    <div class="left-div">
   <app-filter></app-filter>
  </div>
  <div class="right-div">
    <div class="right-div-header">
      <div class="items-count">12 Items of 144 Items</div>
    </div>
    <ng-container *ngIf="showArray.length>0">
      <div *ngFor="let list of showArray; let i= index" class="show-collections">
        <div class="container" (click)="chooseProductFunc(list)">
          <img src={{list.link}} class="image">
          <div class="buy-now">
            <div class="brand">{{list.brand}}</div>
            <div class="jeans-title">{{list.title}}</div>
            <!-- data-toggle="tooltip" title="Hooray!" 18-->
            <div class="price-container">
              <span class="price">&#8377;{{list.price}}</span>
              <span class="original-price">{{list.originalPrice}}</span>
              <span class="offer">{{list.offer}} &nbsp;<span>off</span></span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pagerObj.totalPages>0">
      <pagination-component [data]="pagerObj" (PageNo)="paginateArray($event)"></pagination-component>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
</div>