/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~assets/stylesheet/variables.scss";

body{
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'calibri'; }


.product-form-wrapper
{
    background-color: $elm;
    margin: 10px 210px;
    .header
    {
        // height: 50px;
        padding: 10px;
        background-color: $french_rose;
        position: relative;
        span{
            font-size: 15px;
            color: white;
            text-transform: uppercase;
            // background-color: #100202;
            font-weight: 600;
            display: inline-block;
            padding: 5px 12px;
            border-radius: 10px;
            cursor: pointer;
        }
    } 
    .form-horizontal
    {
        padding: 15px; 
        .products
        {
            font-size: 20px;
            margin-bottom: 10px;
            color: white;
            font-weight: 500;
            .praduct-label{
                float: left;
                width: 14%;
            }
            input
            {
                width: 70%;
                padding: 10px;
            }
            select{
                width: 73%;
                padding: 10px;
            }
        }
        .button{
            text-align: center;
            button{
                padding: 10px;
            }
        }
    }    
}
