<div class="home-font">
    <app-header></app-header>
    <div class="notification">
        <div class="title">End OF Season Sale</div>
        <div class="sell-desc">EXTRA 25% OFF SALE STYLES WITH CODE HOL25</div>
        <div class="sale-type">
            <span>Sale for MEN</span>
            <span>Sale for WOMEN</span>
            <span>Sale for KID</span>
        </div>
    </div>
    <div class="container-width">
        <!-- <div class="collections">
            <ul class="list">
                <li  [routerLink]= "['/','displayProduct']"><span>MEN</span></li>
                <li  [routerLink]= "['/','displayProduct']"><span>WOMEN</span></li>
                <li  [routerLink]= "['/','displayProduct']"><span>KIDS</span></li>
            </ul>
        </div> -->
        <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme','row','sliding']" [items]="images"><!--class="owl-carousel owl-theme carousel-img-container"-->
            <div *ngFor="let obj of images" class="carousel-img">
                <img [src]="obj.url" class="image" height="400px">
            </div>
        </owl-carousel>
        <div class="social-widget">
            <ul class="list">
                <li>
                    <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                            <p>Follow us On Facebook</p>                          
                    </a>
                    <a href="#" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p>Follow us On Twitter</p>
                    </a>
                    <a href="#" target="_blank">
                            <i class="fa fa-youtube-play"></i>
                            <p>Follow us On Youtube</p>
                    </a>
                    <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p>Follow us On Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-now-container">
        <div class="gift-title">Give Gifts To Your Loving ones</div>
        <div class="jeans-gift-section-container">
            <div class="jeans-gift-section">
                <img src="./assets/images/jeans1.jpg" class="img-size">
                <button class="select" [routerLink]= "['/','displayProduct']">WOMEN</button>
            </div>
            <div class="jeans-gift-section">
                <img src="./assets/images/kids-jeans.jpg" class="img-size">
                <button class="select" [routerLink]= "['/','displayProduct']">KIDS</button>
            </div>
            <div class="jeans-gift-section">
                <img src="./assets/images/men-jeans.jpg" class="img-size">
                <button class="select"  [routerLink]= "['/','displayProduct']">MEN</button><!-- href="javascrip:void(0)"-->
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>